/* style for fullscreen map element */
.map-element-fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

/* container div styles for all bands */
.band-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0px;
    z-index: 100;
}

/* style for message band */
.message-band {
    display: none;
    width: 100vw;
    height: 40px;
    z-index: 100;
    align-items: center;
    padding-left: 8px;
    background-color: #90ee90;
    opacity: 0.7;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    transition: all 0.25s ease-in-out;
}

/* style for terrain status band */
.terrain-status-band {
    display: none;
    width: 100vw;
    height: 40px;
    z-index: 100;
    align-items: center;
    padding-left: 8px;
    background-color: #e08e20;
    color: white;
    opacity: 0.7;
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    transition: all 0.25s ease-in-out;
}

/* style for map legend */
.legend-container {
    width: 100vw;
    height: 80px;
    padding: 10px;
    background-color: #202124;
    color: white;
    font-family: sans-serif;
}

/* style for the legend title */
.legend-title {
    font: bold 18px;
    margin-bottom: 4px;
}

/* container div styles for all toolbars */
.toolbar-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 50px;
    z-index: 100;
}

/* optional style to make the toolbar half transparent */
.toolbar-container-halftransparent {
    opacity: 0.5;
    z-index: 10;
}

/* container div style for the live track toolbar */
.livetrack-toolbar-container {
    width: 100vw;
    margin: 0px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202124;
    color: white;
    font-family: sans-serif
}

/* style for the toolbar title text */
.livetrack-toolbar-title {
    font: bold 18px sans-serif
}

/* style for the slider container */
.livetrack-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 10px;
}

/* style for the slider */
.livetrack-slider {
    height: 22px;
    background-color: #d3d3d3;
    cursor: pointer;
    outline: none;
}

    /* style for the slider handle, webkit */
    .livetrack-slider::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 22px;
        height: 22px;
        background: #2F299E;
    }

    /* style for the slider handle, mozilla */
    .livetrack-slider::-moz-range-thumb {
        appearance: none;
        -moz-appearance: none;
        width: 22px;
        height: 22px;
        background: #2F299E;
    }

/* style for the toolbar button container */
.livetrack-toolbar-button-container {
    top: 10px;
    right: 18px;
}

/* style for each toolbar button */
.livetrack-toolbar-button {
    position: relative;
    float: right;
    padding: 5px;
    margin: 10px;
    width: 24px;
    height: 24px;
    background-color: white;
}

/* the .svg toolbar images are white, so invert them to display correctly */
.livetrack-toolbar-button-image {
    filter: invert(100%);
}
