@page
@model IndexModel
@{
    ViewData["Title"] = "Live Tracking";
}

<script src="~/js/mapView3D.js" asp-append-version="true"></script>

<div class="wrapper">

    <nav id="sidebar" class="sidebar-hidden">
        <div class="sidebar-header">
            <h5>Settings</h5>
        </div>
    </nav>

    <div id="content">
        <div id="mapElement"></div>
    </div>
</div>
