@page
@model IndexModel
@{
    ViewData["Title"] = "Live Tracking";
}
@section Scripts {
    <script type="text/javascript">
        function ready(callbackFunction) {
            if (document.readyState != 'loading')
                callbackFunction(event)
            else
                document.addEventListener("DOMContentLoaded", callbackFunction)
        }
        ready(event => {
            initLiveTracking();
        })
    </script>
}

<environment include="Development">
    <script src="~/js/mapView3D.js" asp-append-version="true"></script>
    <script src="~/js/liveTracking.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/mapView3D.js" asp-append-version="true"></script>
    <script src="~/js/liveTracking.js" asp-append-version="true"></script>
</environment>

<div class="wrapper">

    <nav id="sidebar">

        <div id="dismiss">
            <em class="fas fa-arrow-left"></em>
        </div>

        <div class="sidebar-header">
            <h5>Live Tracking</h5>
        </div>

        <div class="sidebar-content">
            <div class="list-group" id="livetracking-list">
                <div class="list-group-item">
                    <h5 class="mb-1">
                        <img src="~/images/paragliding.svg" width="30" height="30" alt="paraglider" class="img-invert" />
                        <span id="liveDataName">Live Waypoint</span>
                    </h5>
                    <p class="mb-1">
                        <div id="liveDataDescription">
                            Position: Lat/Long
                        </div>
                        <div class="d-flex w-100">
                            <button type="button" class="btn btn-primary btn-sm mr-1"
                                    onclick="javascript: liveTracking.zoomToByPrefix('liveData');">
                                Zoom
                            </button>
                            <button type="button" class="btn btn-primary btn-sm mr-1"
                                    onclick="javascript: liveTracking.updateByPrefix('liveData');">
                                Update
                            </button>
                        </div>
                    </p>
                    <div class="d-flex w-100 justify-content-between">
                        <small id="liveDataLastUpdate">Last update: N/A</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-header">
            <h5>Settings</h5>
        </div>

        <div class="sidebar-content">
            <label for="mapImageryType">Map imagery</label>
            <select class="form-control" id="mapImageryType" name="mapImageryType"
                    onChange="javascript: liveTracking.map.setMapImageryType(this.value.toString())">
                <option selected value="OpenStreetMap">OpenStreetMap</option>
                <option value="BingMapsAerialWithLabels">Bing maps Aerial with labels</option>
                <option value="OpenTopoMap">OpenTopoMap</option>
            </select>

            <label for="mapShadingMode">Map shading mode</label>
            <select class="form-control" id="mapShadingMode" name="mapShadingMode"
                    onChange="javascript: liveTracking.map.setShadingMode(this.value.toString())">
                <option selected value="Fixed10Am">Fixed at 10 am.</option>
                <option value="Fixed3Pm">Fixed at 3 pm.</option>
                <option value="CurrentTime">Current time</option>
                <option value="Ahead6Hours">Current time + 6 hours</option>
                <option value="None">No shading</option>
            </select>

            <label for="mapOverlayType">Map overlay</label>
            <select class="form-control" id="mapOverlayType" name="mapOverlayType"
                    onChange="javascript: liveTracking.map.setMapOverlayType(this.value.toString())">
                <option selected value="None">None</option>
                <option value="ContourLines">Contour lines</option>
            </select>
        </div>
    </nav>

    <div id="content">
        <div id="mapElement"></div>
        <div id="liveTrackToolbar" class="livetrack-toolbar-container" style="display:none; bottom:130px"></div>
    </div>

    <script type="text/javascript">

    function initLiveTracking() {
        liveTracking = new LiveTracking();

        var liveTrackingInfoList = @Html.Raw(Json.Serialize(Model.LiveTrackingInfoList));
        for (var key in liveTrackingInfoList) {
            var item = liveTrackingInfoList[key];
            if (item.isLiveTrack)
                liveTracking.addLiveTrack(item.name, item.uri);
            else
                liveTracking.addLiveWaypoint(item.name, item.uri);
        }
    }

    </script>

</div>
