/* live tracking site wide styles */

#navbar {
    background-color: #2F299E
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

main {
    margin-top: 57px;
}

/* inverts images; used for SVGs with wrong fill value */
img.img-invert {
    filter: invert(1);
}

#mapElement {
    position: relative;
    padding-bottom: 53px;
    top: -3px;
}

@media (min-width: 768px) {
    #mapElement {
        top: 0px;
        padding-bottom: 56px;
    }
}

/* set size of infobox to fill 80% of the whole mobile screen */
@media (max-width: 768px) {
    .cesium-infoBox {
        width: 80%;
        max-width: 80%;
    }
}

/* sidebar */

#sidebar {
    width: 250px;
    height: 100vh;
    background: #cfcfcf;
    color: #000;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        background: #2F299E;
        color: #fff;
        padding: 10px;
    }

    #sidebar .sidebar-content {
        padding: 10px;
    }

#btn-dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
}

    #btn-dismiss:hover {
        background: #fff;
        color: #2F299E;
    }
