/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.bg-dark {
    background-color: #2F299E !important;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* inverts images; used for SVGs with wrong fill value */
img.img-invert {
    filter: invert(1);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#mapElement {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 53px;
    top: -3px;
}

@media (min-width: 768px) {
    #mapElement {
        top: 0px;
        padding-bottom: 56px;
    }
}

/* set size of infobox to fill 80% of the whole mobile screen */
.cesium-infoBox {
    width: 80%;
    max-width: 80%;
}

/* sidebar */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #cfcfcf;
    color: #000;
    margin-top: -2px;
    transition: all 0.3s;
}

#sidebar.sidebar-hidden {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    background: #2F299E;
    color: #fff;
    padding: 10px;
}

#sidebar .sidebar-content {
    padding: 10px;
}
