<?xml version="1.0" encoding="utf-8"?>
<!-- NuGet config file for all solutions and projects -->
<!-- See: http://stackoverflow.com/questions/18376313/setting-up-a-common-nuget-packages-folder-for-all-solutions-when-some-projects-a -->
<configuration>
  <config>
    <!-- store all packages in the root Packages folder -->
    <add key="repositoryPath" value="$\..\Packages" />
  </config>
</configuration>
