@page "/"
@using Microsoft.JSInterop
@inject IJSRuntime JS

<PageTitle>Where-To-Fly Web App</PageTitle>

<div id="content">
    <div id="mapElement" class="map-element-fullscreen"></div>

    <div class="toolbar-container toolbar-container-halftransparent">
        <div id="liveTrackToolbar" class="livetrack-toolbar-container" style="display:none; bottom:130px"></div>
        <div id="heightProfileView" class="chart-and-toolbar-container chart-and-toolbar-container-outer" style="display:none"></div>
    </div>
</div>

<script type="text/javascript">

    function initApp() {
        console.log("it works!");
    }

</script>

@code {

    /// <summary>
    /// Called after the razor page has finished rendering
    /// </summary>
    /// <param name="firstRender">when true, it's the first render</param>
    /// <returns>task to wait on</returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // https://jonhilton.net/import-js-modules/
            IJSObjectReference module =
                await JS.InvokeAsync<IJSObjectReference>(
                    "import",
                    new object[]
                    {
                        "./js/app.bundle.js"
                    });

            await module.InvokeVoidAsync("default");
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
