@page "/"
@using Microsoft.JSInterop
@using System.Diagnostics
@using System.Text.Json
@using WhereToFly.Geo.Model
@inject IJSRuntime JS
@inject IConfiguration Configuration

<PageTitle>Where-To-Fly Web App</PageTitle>

<div id="content">
    <div id="mapElement" class="map-element-fullscreen"></div>

    <div class="toolbar-container toolbar-container-halftransparent">
        <div id="liveTrackToolbar" class="livetrack-toolbar-container" style="display:none; bottom:130px"></div>
        <div id="heightProfileView" class="chart-and-toolbar-container chart-and-toolbar-container-outer" style="display:none"></div>
    </div>
</div>

<script type="text/javascript">

    /**
     * Gets options object for initializing the App
     */
    async function getAppOptions(referenceToThis) {
        return {
            mapElementId: 'mapElement',
            liveTrackToolbarId: "liveTrackToolbar",
            heightProfileElementId: "heightProfileView",
            apiKeys: await referenceToThis.invokeMethodAsync("GetApiKeys"),
            callback: (action, params) => callbackToDotNet(referenceToThis, action, params)
        }
    }

    /**
     * Calls back to the razor page
     */
    function callbackToDotNet(referenceToThis, action, params) {
        referenceToThis.invokeMethodAsync(
            'OnAction',
            {
                action,
                params: (params === null ? "" : JSON.stringify(params))
            });
    }

</script>

@code {

    /// <summary>
    /// Reference to the JavaScript App instance
    /// </summary>
    IJSObjectReference app;

    /// <summary>
    /// Called after the razor page has finished rendering
    /// </summary>
    /// <param name="firstRender">when true, it's the first render</param>
    /// <returns>task to wait on</returns>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // https://jonhilton.net/import-js-modules/
            IJSObjectReference module =
                await JS.InvokeAsync<IJSObjectReference>(
                    "import",
                    new object[]
                    {
                        "./js/app.bundle.js"
                    });

            var referenceToThis = DotNetObjectReference.Create(this);

            IJSObjectReference options =
                await JS.InvokeAsync<IJSObjectReference>(
                    "getAppOptions",
                    referenceToThis);

            this.app =
                await module.InvokeAsync<IJSObjectReference>("default", options);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// Returns API keys
    /// </summary>
    /// <returns>object with all API keys</returns>
    [JSInvokable("GetApiKeys")]
    public object GetApiKeys()
    {
        return new
        {
            cesiumIonApiKey = Configuration["CESIUM_ION_API_KEY"],
        };
    }

    /// <summary>
    /// Callback action infos
    /// </summary>
    public class ActionInfo
    {
        /// <summary>
        /// Callback action
        /// </summary>
        public string Action { get; set; } = string.Empty;

        /// <summary>
        /// Action parameters as JSON
        /// </summary>
        public string? Params { get; set; }
    }

    /// <summary>
    /// Called when the JavaScript code calls back to .NET
    /// </summary>
    /// <param name="actionInfo">action info</param>
    [JSInvokable("OnAction")]
    public void OnAction(ActionInfo actionInfo)
    {
        Debug.WriteLine($"OnAction: action={actionInfo.Action} params={actionInfo.Params}");

        switch (actionInfo.Action)
        {
            case "onMapMoved":
                if (actionInfo.Params != null)
                {
                    var rectangle = JsonSerializer.Deserialize(
                        actionInfo.Params,
                        Geo.Serializers.GeoModelJsonSerializerContext.Default.MapRectangle);

                    if (rectangle != null)
                    {
                        this.OnMapMoved(rectangle);
                    }
                }

                break;

            default:
                break;
        }
    }

    /// <summary>
    /// Called when the "onMapMoved" action is received
    /// </summary>
    private void OnMapMoved(MapRectangle rectangle)
    {
    }

    /// <summary>
    /// Called when the JavaScript code calls back to .NET
    /// </summary>
    /// <param name="locationList">location list</param>
    /// <returns>task to wait on</returns>
    private async Task AddLocationList(IEnumerable<Location> locationList)
    {
        if (!locationList.Any())
        {
            return;
        }

        var jsonLocationList =
            from location in locationList
            select CreateJsonObjectFromLocation(location);

        await this.app.InvokeVoidAsync("addLocationList", jsonLocationList);
    }

    /// <summary>
    /// Creates a C# object suitable for conversion to JSON, in order to use in a JavaScript
    /// call.
    /// </summary>
    /// <param name="location">location to convert</param>
    /// <returns>C# object</returns>
    private static object CreateJsonObjectFromLocation(Location location)
    {
        return new
        {
            id = location.Id,
            name = location.Name,
            description = location.Description,
            type = location.Type.ToString(),
            latitude = location.MapLocation.Latitude,
            longitude = location.MapLocation.Longitude,
            altitude = location.MapLocation.Altitude.GetValueOrDefault(0.0),
            takeoffDirections = (int)location.TakeoffDirections,
            isPlanTourLocation = location.IsPlanTourLocation,
            properties = location.Properties.ToDictionary(kvp => kvp.Key.ToString(), kvp => kvp.Value),
        };
    }
}
